In [28]:
import pandas as pd
a=[2,]
for i in range(8,112):
    a.append(i)
df=pd.read_csv("/Users/arthanareezwarans/Downloads/nytYear_tag_allcols1852.csv",usecols=a)

In [29]:
df.head()

,pub_date,all_beats,all_megas,all_macros,beat_health,mega_smallscaling,macro_aspiration,beat_education,beat_special interest,macro_new sobriety,...,macro_camera culture,mega_globals,beat_business,beat_architecture,macro_maximalism,beat_sports,beat_environment,macro_biomimicry,beat_hospitality,beat_food & beverage
0,1852-01-01,beat_politics,mega_new masculinity,macro_absurdism,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1852-01-01,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1852-01-01,beat_books & publications,"mega_hyperculture, mega_mashup, mega_snack media",NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1852-01-01,beat_politics,NaN,macro_absurdism,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1852-01-01,beat_politics,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
Daily=df.groupby('pub_date').sum()

In [33]:
df['pub_date']=pd.to_datetime(df['pub_date'])

In [34]:
df.head()

,pub_date,all_beats,all_megas,all_macros,beat_health,mega_smallscaling,macro_aspiration,beat_education,beat_special interest,macro_new sobriety,...,macro_camera culture,mega_globals,beat_business,beat_architecture,macro_maximalism,beat_sports,beat_environment,macro_biomimicry,beat_hospitality,beat_food & beverage
0,1852-01-01,beat_politics,mega_new masculinity,macro_absurdism,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1852-01-01,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1852-01-01,beat_books & publications,"mega_hyperculture, mega_mashup, mega_snack media",NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1852-01-01,beat_politics,NaN,macro_absurdism,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1852-01-01,beat_politics,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
df.pub_date.dtypes

dtype('<M8[ns]')

In [39]:
pd.DatetimeIndex(df.pub_date).to_period("M")

PeriodIndex(['1852-01', '1852-01', '1852-01', '1852-01', '1852-01', '1852-01',
             '1852-01', '1852-01', '1852-01', '1852-01',
             ...
             '1852-12', '1852-12', '1852-12', '1852-12', '1852-12', '1852-12',
             '1852-12', '1852-12', '1852-12', '1852-12'],
            dtype='period[M]', name='pub_date', length=9259, freq='M')

In [40]:
per = df.pub_date.dt.to_period("M")

In [41]:
g = df.groupby(per)

In [43]:
Monthly=g.sum()

In [45]:
Daily.head()

,beat_health,mega_smallscaling,macro_aspiration,beat_education,beat_special interest,macro_new sobriety,mega_mind management,beat_decor,mega_work shift,beat_books & publications,...,macro_camera culture,mega_globals,beat_business,beat_architecture,macro_maximalism,beat_sports,beat_environment,macro_biomimicry,beat_hospitality,beat_food & beverage
pub_date,,,,,,,,,,,,,,,,,,,,,
1852-01-01,1,0,0,1,0,0,0,0,1,1,...,0,2,0,0,0,0,1,0,2,1
1852-01-03,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,0
1852-01-05,0,0,0,0,0,0,0,0,0,0,...,0,2,1,0,0,0,0,0,2,0
1852-01-06,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1852-01-07,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [44]:
Monthly.head()

,beat_health,mega_smallscaling,macro_aspiration,beat_education,beat_special interest,macro_new sobriety,mega_mind management,beat_decor,mega_work shift,beat_books & publications,...,macro_camera culture,mega_globals,beat_business,beat_architecture,macro_maximalism,beat_sports,beat_environment,macro_biomimicry,beat_hospitality,beat_food & beverage
pub_date,,,,,,,,,,,,,,,,,,,,,
1852-01,12,0,3,10,2,0,1,0,1,10,...,0,19,4,1,0,2,4,0,30,6
1852-02,14,1,3,3,0,0,0,0,1,4,...,2,12,4,3,0,6,4,0,34,4
1852-03,9,3,8,12,1,0,1,0,1,9,...,0,17,6,0,0,5,7,2,57,3
1852-04,17,1,4,4,1,0,0,0,0,8,...,1,16,7,5,2,6,11,0,47,5
1852-05,20,2,4,6,0,0,0,0,1,4,...,0,23,9,4,0,3,3,1,50,2