In [65]:
import pandas as pd
import numpy as np
col_name=['year','disaster_type','iso','country_name','occurrence','Total_deaths','Injured','Affected','Homeless','Total_affected','Total_damage']
df=pd.read_csv("/Users/arthanareezwarans/Downloads/EMDat_Disaster_Country.csv",names=(col_name), encoding ='latin1')

In [66]:
df=df.drop(df.index[[0,1]])
df=df.reset_index(drop=True)
#df.drop(df.index[dropped_indexes], inplace=True)
df.head()

,year,disaster_type,iso,country_name,occurrence,Total_deaths,Injured,Affected,Homeless,Total_affected,Total_damage
0,1900,Drought,CPV,Cabo Verde,1,11000,NaN,NaN,NaN,NaN,NaN
1,1900,Drought,IND,India,1,1250000,NaN,NaN,NaN,NaN,NaN
2,1900,Epidemic,JAM,Jamaica,1,30,NaN,NaN,NaN,NaN,NaN
3,1900,Flood,JAM,Jamaica,1,300,NaN,NaN,NaN,NaN,NaN
4,1900,Storm,USA,United States of America (the),1,6000,NaN,NaN,NaN,NaN,30000

In [67]:
df = df.replace(np.nan,0, regex=True)
df.groupby(['year','disaster_type','country_name']).sum()

                                                                                                            iso  \
year                                               disaster_type          country_name
1900                                               Drought                Cabo Verde                        CPV
                                                                          India                             IND
                                                   Epidemic               Jamaica                           JAM
                                                   Flood                  Jamaica                           JAM
                                                   Storm                  United States of America (the)    USA
                                                   Volcanic activity      Japan                             JPN
1901                                               Earthquake             Japan                             JPN
                                                                          Tanzania, United Republic of      TZA
                                                   Epidemic               Uganda                            UGA
                                                   Industrial accident    Belgium                           BEL
1902                                               Earthquake             El Salvador                       SLV
                                                                          Guatemala                         GTM
                                                                          Soviet Union                      SUN
                                                   Miscellaneous accident United States of America (the)    USA
                                                   Storm                  Myanmar                           MMR
                                                   Volcanic activity      Guatemala                         GTM
                                                                          Japan                             JPN
                                                                          Martinique                        MTQ
                                                                          Saint Vincent and the Grenadines  VCT
1903                                               Drought                Niger (the)                       NER
                                                   Earthquake             Turkey                            TUR
                                                   Flood                  United States of America (the)    USA
                                                   Mass movement (dry)    Canada                            CAN
                                                   Miscellaneous accident France                            FRA
                                                                          United States of America (the)    USA
                                                   Storm                  Jamaica                           JAM
                                                                          United States of America (the)    USA
                                                   Volcanic activity      Comoros (the)                     COM
1904                                               Earthquake             Ecuador                           ECU
                                                   Miscellaneous accident Belgium                           BEL
...                                                                                                         ...
2017                                               Transport accident     China                             CHN
                                                                          Ecuador                           ECU
                                                                          Greece                            GRC
                                                                          Haiti                             HTI
                                                                          India                             IND
                                                                          Indonesia                         IDN
                                                                          Italy                             ITA
                                                                          Kenya                             KEN
                                                                          Kyrgyzstan                        KGZ
                                                                          Libya                             LBY
                                                                          Madagascar                        MDG
                                                                          Malaysia                          MYS
                                                                          Mexico                            MEX
                                                                          Morocco                           MAR
                                                                          Myanmar                           MMR
                                                                          Nepal                             NPL
                                                                          Panama                            PAN
                                                                          Philippines (the)                 PHL
                                                                          Russian Federation (the)          RUS
                                                                          Senegal                           SEN
                                                                          South Africa                      ZAF
                                                                          Turkey                            TUR
                                                                          United States of America (the)    USA
                                                                          Zimbabwe                          ZWE
                                                   Wildfire               Australia                         AUS
                                                                          Chile                             CHL
                                                                          Portugal                          PRT
                                                                          Spain                             ESP
Created on: July 19, 2017                          0                      0                                   0
Source: EM-DAT: The Emergency Events Database -... 0                      0                                   0

                                                                                                           occurrence  \
year                                               disaster_type          country_name
1900                                               Drought                Cabo Verde                                1
                                                                          India                                     1
                                                   Epidemic               Jamaica                                   1
                                                   Flood                  Jamaica                                   1
                                                   Storm                  United States of America (the)            1
                                                   Volcanic activity      Japan                                     1
1901                                               Earthquake             Japan                                     1
                                                                          Tanzania, United Republic of              1
                                                   Epidemic               Uganda                                    1
                                                   Industrial accident    Belgium                                   1
1902                                               Earthquake             El Salvador                               1
                                                                          Guatemala                                 1
                                                                          Soviet Union                              1
                                                   Miscellaneous accident United States of America (the)            1
                                                   Storm                  Myanmar                                   1
                                                   Volcanic activity      Guatemala                                 2
                                                                          Japan                                     1
                                                                          Martinique                                1
                                                                          Saint Vincent and the Grenadines          1
1903                                               Drought                Niger (the)                               1
                                                   Earthquake             Turkey                                    1
                                                   Flood                  United States of America (the)            2
                                                   Mass movement (dry)    Canada                                    1
                                                   Miscellaneous accident France                                    1
                                                                          United States of America (the)            1
                                                   Storm                  Jamaica                                   1
                                                                          United States of America (the)            1
                                                   Volcanic activity      Comoros (the)                             1
1904                                               Earthquake             Ecuador                                   1
                                                   Miscellaneous accident Belgium                                   1
...                                                                                                               ...
2017                                               Transport accident     China                                     1
                                                                          Ecuador                                   1
                                                                          Greece                                    1
                                                                          Haiti                                     1
                                                                          India                                     6
                                                                          Indonesia                                 1
                                                                          Italy                                     1
                                                                          Kenya                                     2
                                                                          Kyrgyzstan                                1
                                                                          Libya                                     3
                                                                          Madagascar                                1
                                                                          Malaysia                                  1
                                                                          Mexico                                    2
                                                                          Morocco                                   2
                                                                          Myanmar                                   3
                                                                          Nepal                                     1
                                                                          Panama                                    1
                                                                          Philippines (the)                         1
                                                                          Russian Federation (the)                  1
                                                                          Senegal                                   3
                                                                          South Africa                              1
                                                                          Turkey                                    3
                                                                          United States of America (the)            1
                                                                          Zimbabwe                                  1
                                                   Wildfire               Australia                                 1
                                                                          Chile                                     1
                                                                          Portugal                                  1
                                                                          Spain                                     1
Created on: July 19, 2017                          0                      0                                         0
Source: EM-DAT: The Emergency Events Database -... 0                      0                                         0

                                                                                                           Total_deaths  \
year                                               disaster_type          country_name
1900                                               Drought                Cabo Verde                              11000
                                                                          India                                 1250000
                                                   Epidemic               Jamaica                                    30
                                                   Flood                  Jamaica                                   300
                                                   Storm                  United States of America (the)           6000
                                                   Volcanic activity      Japan                                      30
1901                                               Earthquake             Japan                                      18
                                                                          Tanzania, United Republic of                0
                                                   Epidemic               Uganda                                 200000
                                                   Industrial accident    Belgium                                    18
1902                                               Earthquake             El Salvador                               185
                                                                          Guatemala                                2000
                                                                          Soviet Union                             4562
                                                   Miscellaneous accident United States of America (the)            115
                                                   Storm                  Myanmar                                   600
                                                   Volcanic activity      Guatemala                                7000
                                                                          Japan                                     125
                                                                          Martinique                              30000
                                                                          Saint Vincent and the Grenadines         1565
1903                                               Drought                Niger (the)                                 0
                                                   Earthquake             Turkey                                   6000
                                                   Flood                  United States of America (the)            250
                                                   Mass movement (dry)    Canada                                     76
                                                   Miscellaneous accident France                                     84
                                                                          United States of America (the)            602
                                                   Storm                  Jamaica                                    65
                                                                          United States of America (the)             98
                                                   Volcanic activity      Comoros (the)                              17
1904                                               Earthquake             Ecuador                                     0
                                                   Miscellaneous accident Belgium                                    15
...                                                                                                                 ...
2017                                               Transport accident     China                                      12
                                                                          Ecuador                                    19
                                                                          Greece                                     16
                                                                          Haiti                                      51
                                                                          India                                     159
                                                                          Indonesia                                  40
                                                                          Italy                                      16
                                                                          Kenya                                      37
                                                                          Kyrgyzstan                                 37
                                                                          Libya                                     279
                                                                          Madagascar                                 47
                                                                          Malaysia                                   40
                                                                          Mexico                                     41

In [73]:
df1=pd.read_csv("/Users/arthanareezwarans/Downloads/EMDat_Disaster_Country.csv", encoding ='latin1')
df1.shape
df1.head()
#df1.columns

                                                                                                  sep=  \
year disaster type iso  country_name occurrence Total deaths Injured Affected Homeless  Total affected
1900 Drought       CPV Cabo Verde    1          11000        NaN     NaN      NaN                  NaN
                   IND India         1          1250000      NaN     NaN      NaN                  NaN
     Epidemic      JAM Jamaica       1          30           NaN     NaN      NaN                  NaN
     Flood         JAM Jamaica       1          300          NaN     NaN      NaN                  NaN

                                                                                          Unnamed: 1
year disaster type iso  country_name occurrence Total deaths Injured Affected Homeless  Total damage
1900 Drought       CPV Cabo Verde    1          11000        NaN     NaN      NaN                NaN
                   IND India         1          1250000      NaN     NaN      NaN                NaN
     Epidemic      JAM Jamaica       1          30           NaN     NaN      NaN                NaN
     Flood         JAM Jamaica       1          300          NaN     NaN      NaN                NaN